
h1{
    line-height: 50px;

    color: red;
    font-size: 36px;
}
header{
    background-color: aqua;
}
a{
    color: rgb(228, 13, 13);
    
}
b{
    color: aqua;
}
p{
    color: blueviolet;
    
    line-height: 15px;
}
ol{
    background-color: bisque;
}
